<form
  action="/admin/article/<%= article.id %>"
  class="action-form"
  method="post"
>
  <input type="hidden" name="_method" value="delete" />
  <button class="action inline" type="submit">Delete</button>
</form>
