<%- include('../../layouts/admin-top.ejs') %>

<form method="post" action="/admin/article">
  <div class="form-item">
    <label for="title">Title</label>
    <input type="text" name="title" />
  </div>
  <div class="form-item">
    <label for="text">Text</label>
    <textarea name="text" rows="6"></textarea>
  </div>
  <div class="form-item">
    <button type="submit">Submit</button>
  </div>
</form>

<%- include('../../layouts/admin-bottom.ejs') %>
