<%- include('../../layouts/admin-top.ejs') %>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, maiores?
  Voluptatem dicta natus possimus magnam optio animi placeat fuga ipsam
  doloremque laudantium laborum odio, quo, vel ipsum qui aliquam esse?
</p>

<%- include('../../layouts/admin-bottom.ejs') %>
